
/* Navigation Bar Styles */
.logo {
    width: 100%;
    height: 100px;
}
.nav-color {
    background-color:rgb(222, 174, 174) ;
}

/* Background Image Styles */
#bg-img {
    /* height: 100%;
    min-width: 100%;
    object-fit: cover; (ask teacher)
    z-index: -1; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.6);
    z-index: -1;
}

/* Caption for carousel Background Image Styles */
.h1-cap {
    color: rgb(219, 77, 77);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: aliceblue 2px 3px;
}
/* carousel images */
.c-item {
    height: 800px;
}
/* first container */
.con-fluid1 {
    background-color:rgb(219, 77, 77);
    width: 100%;
    padding-bottom: 200px;
}

.con-fluid1 .text {
    margin-top: 60px;
    position: relative;
    color: aliceblue;
    font-size: 60px;
    font-weight: 800;
    overflow: hidden;

}
/* first container animated header */
.con-fluid1 .text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(219, 77, 77);
    border-left: 2px solid aliceblue;
    /* animation: animate 4s steps(12) infinite; */
    animation: animate 7s steps(18) infinite ;
    
    overflow: hidden;
}
@keyframes animate{
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 100%;
    }
}
span {
    width: auto;
    display: inline-block; /* Ensure span respects width */
    position: relative; /* Make sure span is positioned relatively */
}

.card {
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.cards-confluid1 {
    padding-top: 100px;
}
/* Second container */
.con-fluid2 {
    padding: 0px;    
}
.con-fluid2>img{
    width: 100%;
    height: 100%;

}

.btn-lm {
    border-radius: 10px;
    border-color: rgb(219, 77, 77);
}
.btn-lm:hover {
    transform: scale(1.1);
    border-color: black;
}

/* Third container */
.con-fluid3 {
    background-color:rgb(219, 77, 77);
    height: 100%;
    width: 100%;
}
.youtube-video {
    margin-top: 200px;
    margin-bottom: 200px;
    aspect-ratio: 16 / 9;
    /* height: 47%;
    width: 47%; */
}
.h2-con3 {
    margin-top: 170px;
    text-decoration: underline;
    color: white;
    font-size: 50px;
    font-weight: 800;
   
}
 
.p-con3 {
    color: white;
    font-size: 30px;

}

.p2-con3 {
    color: white;
    font-size: 30px;
    margin-bottom: 10%;

}
.hr-con3{
    color: white;
    height: 4px;
}

/* Fourth container */
.con-fluid4 {
    background-color:rgb(222, 174, 174);
    height: 100%;
    width: 100%;
}
.book-img {
    margin-top: 200px;
    margin-bottom: 200px;
    width: 80%;
    height: 45%;
}

.h2-con4 {
    margin-top: 170px;
    color: white;
    font-size: 50px;
    font-weight: 400;
}
.click-btn {
    display: flex;
    width: 130px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    line-height: 35px;
    border: 1px solid;
    border-radius: 0px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.35s;
    box-sizing: border-box;
    float: left;
}
.btn-style3:hover {
    color: black;
}


/* footer */

footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li {
    padding-right: 50px; 
   
} /*change this tmr maybe*/

.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}
.hr-footer {
    color: white;
    height: 4px;
}

